html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Noto Sans TC", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*-----------------------CSS Reset end-----------------------*/
body {
  background-image: url("");
  background-size: cover;
  background-position: center center;
  font-family: "NotoSansCJKtc-Medium";
  height: 100vh;
  margin: 0;
  transition: all 1.2s ease-in 0.3s;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.logoHome {
  height: 168px;
  width: 100%;
  background: url("../img/index_icon/logo_white.svg") no-repeat left;
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 5%;
}

.list {
  background-color: white;
  width: 30%;
  padding: 2% 0% 7% 3%;
}
.list li {
  padding: 5% 0;
  position: relative;
}
.list li::before {
  content: "";
  width: 0;
  height: 0;
  background: #000000;
  position: absolute;
  left: -32px;
  top: 50%;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.list li:hover::before {
  content: "";
  width: 16px;
  height: 1px;
  background: #000000;
  position: absolute;
  left: -32px;
  top: 50%;
}
.list li a {
  text-decoration: none;
  font-family: NotoSansCJKtc-Light;
  font-size: 14px;
  color: #000000;
  letter-spacing: 1.46px;
}

.min {
  display: flex;
  justify-content: flex-end;
  margin-right: 14.5%;
}
.min a {
  margin-right: 1%;
}
.min img {
  height: 20px;
}

.botoom {
  display: flex;
  justify-content: space-between;
  margin: 0 4%;
  margin-bottom: 3%;
}
.botoom .roomNuber {
  font-family: NotoSansCJKtc-DemiLight;
  font-size: 66px;
  color: #FFFFFF;
}
.botoom .roomName {
  font-family: NotoSansCJKtc-DemiLight;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 2.51px;
}
.botoom .detail li a {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  font-family: NotoSansCJKtc-DemiLight;
  font-size: 14px;
  text-decoration: none;
  color: #FFFFFF;
}
.botoom .detail li img {
  height: 20px;
  margin-right: 2%;
}/*# sourceMappingURL=all.css.map */